:root {
	--primary: blue;
	--secondary: white;
	--background: #FFF;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background);
}

main {

}

hr {
	border-width: 4px;
    border-color: #1f1f1e;
    margin: 80px 0;
    padding: 0;
}

nav {
	display: none;
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--primary);
}

a[href]:not(:hover) {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

header a {
		color: #1F1F1E!important;
}
header {
	text-align: center;
}
header,
main,
footer {

}

.margin-btm-0 {
	margin-bottom: 0;
}
.small {
	margin: 0;
font-style: italic;
}

main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Header Logo (style as h2) */
header > em {
	display: block;
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
}

/* Header Nav */
header nav ul {
	padding: 0;
	list-style: none;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .25em;
}

header nav li a {
	padding: .25em .5em;
	border-radius: .25em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	background-color: white;
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}



.row__hero {
	width: 100%;
	background: #1F1F1E;
	color: #fff;
	display: grid;
	padding: 100px 0;
}

h1 {
font-weight: normal;
	font-family: Roboto-Regular;
}

.description_container {
    display: grid;
    grid-template-columns: 170px auto;
    align-items: center;
		padding-bottom: 100px;
}

.hero-img {
	margin-bottom: -200px;
}

.content {
	padding: 80px 0;

}


.primary_header {
	font-family: Roboto-Regular;
	font-size: 90px;
	color: #FFFFFF;
	text-align: left;
	line-height: 1;
  margin: 0;
}

.secondary_paragraph {
	font-family: Roboto-Regular;
font-size: 30px;
color: #1F1F1E;
line-height: 40px;
}

.center {
	text-align: center;
}

h2 {
	font-family: Roboto-Medium;
font-size: 40px;
color: #1F1F1E;
text-align: left;
line-height: 50px;
}
.hero-subheading {
	display: grid;
	grid-template-columns: 50% 50%;
		/* max-width: 1264px;
		margin: auto; */
}

.hero-subheading .fifty {
	background: red;
	/* grid-template-columns: 50% 50%; */
}
.container__wrapper {
	max-width: 1260px;
  margin: auto;
}

.pd-btm-40 {
	padding-bottom: 40px;
}

.logo__container {
	display: grid;
		grid-template-columns: repeat(5, auto);
		justify-items: center;
		align-items: center;
}
.column__container {
display: grid;
grid-template-columns: repeat(2, 1fr);
align-items: center;
justify-items: center;
}

.column__container__two {
display: grid;
grid-template-columns: 76px 544px;
align-items: center;
justify-items: center;
}

.column__container__offset {
display: grid;
grid-template-columns: 1;
align-items: center;
justify-items: center;
max-width: 620px;
margin: auto;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}
