---
layout: layouts/base.njk
section: home
---

<div class="row__hero">
      <div class="container__wrapper">
        <div class="container__wrapper__hero">
            <div class="description_container">
              <img class="how-it-works__container__one-right email-desktop" src="/static/img/x.svg" alt="x">
              <p class="primary_header">Quit screwing around</p>
            </div>
            <div class="column__container">
              <img class="hero-img" src="/static/img/quit-screwing-around.svg" alt="" data-aos="fade-left" data-aos-once="true">
              <div class="column__container__one">
                <h1 class="primary_paragraph">Score big-name media coverage & quality backlinks <span class="ace-underline">the easy way</span>.</h1>
              </div>
            </div>
        </div>
      </div>
</div>

<div class="container__wrapper content pd-btm-40">
<div class="logo__container">
  <div><img src="/static/img/the-huffington-post.svg" alt=""></div>
  <div><img src="/static/img/BBC.svg" alt=""></div>
  <div><img src="/static/img/forbes.svg" alt=""></div>
  <div><img src="/static/img/new-york-times.svg" alt=""></div>
  <div><img src="/static/img/CNN.svg" alt=""></div>
</div>
</div>

<div class="column__container__offset">
  <div class="column__container__one center">
    <p class="small">The DR50, 60, and 70+ backlinks we deliver put ear-to-ear grins on our clients</p>
  </div>
</div>

<div class="container__wrapper content">
<div class="column__container">
  <div class="column__container__one">
    <p class="secondary_paragraph">You’ve tried everything to get reporters and bloggers to do stories about you.
    Press releases, emails, phone calls, notes tied to bricks thrown through newsroom windows, even HARO pitching—it’s all resulted in failure.
    You got zero coverage and, consequently, zero backlinks.
    But don't be so quick to give up on that last one—HARO pitching.</p>
  </div>
  <img class="how-it-works__container__one-right email-desktop" src="/static/img/sad.svg" alt="" data-aos="fade-left" data-aos-once="true">
  {# <img class="how-it-works__container__one-right email-mobile" src="https://dailynclexchallenge.com/static/img/account/you-get-an-email.svg" alt="" data-aos="fade-left" data-aos-once="true"> #}
</div>

<div class="column__container">
  <img class="how-it-works__container__one-right email-desktop" src="/static/img/lightbulb.svg" alt="" data-aos="fade-left" data-aos-once="true">
  {# <img class="how-it-works__container__one-right email-mobile" src="https://dailynclexchallenge.com/static/img/account/you-get-an-email.svg" alt="" data-aos="fade-left" data-aos-once="true"> #}
  <div class="column__container__one">
    <p class="secondary_paragraph">HARO pitching is actually very effective. The catch is you have to let HARO experts do the pitching for you.
If you had from the get-go called in a team of HARO professionals instead of attempting it on your own, you probably would have brought home a completely different result.
You probably would have been right now up to your amazed eyeballs in media coverage and backlinks.
And you would have likely avoided a ton of frustration and wasted time.</p>
  </div>
</div>

<hr>

<div class="column__container">
  <div class="column__container__one">
    <h2>HARO pitching can pay off big for your business.</h2>
    <p class="secondary_paragraph">In case you’ve never heard of HARO, it stands for Help a Reporter Out and it’s a tool news media people are heavily dependent on to connect with subject-matter experts they can interview and quote.

HARO is a platform businesspeople use to attract media coverage. Not just any media coverage, but coverage from major news outlets—the most coveted ones on the planet.

And with that coverage comes high-quality, to-die-for backlinks to your website. Do-follow backlinks, to be precise.</p>
  </div>
  <img class="how-it-works__container__one-right email-desktop" src="/static/img/save-money.svg" alt="" data-aos="fade-left" data-aos-once="true">
  {# <img class="how-it-works__container__one-right email-mobile" src="https://dailynclexchallenge.com/static/img/account/you-get-an-email.svg" alt="" data-aos="fade-left" data-aos-once="true"> #}
</div>

<hr>

<div class="column__container__offset">
  <div class="column__container__one center">
    <h2>Using HARO is <strike>haroing</strike> harrowing for most businesspeople.</h2>
    <p class="secondary_paragraph">Your job is to make customers happy.
Your job is NOT to build backlinks.
You could of course make it your job. But then so much of your day would be eaten up by it that you’d have little time left over to do much of anything else.</p>
  </div>
  <button class="blue">The best option is to let HARO Hero build those backlinks for you. View Pricing</button>
<p>We do all the slaying of the fire-breathing dragon for you, the hard work of using HARO to get you the high-quality backlinks you must have if you want to see your business succeed and grow.</p>
{# <h2>The impact of those backlinks is huge. Get them and you’re almost sure to be looking at more:</h2>
<p class="secondary_paragraph left">Domain authority</p>
<p class="secondary_paragraph left">Search results and prominence</p>
<p class="secondary_paragraph left">Traffic</p>
<p class="secondary_paragraph left">Leads</p>
<p class="secondary_paragraph left">Conversions</p>
<p class="secondary_paragraph left">Revenue</p>
<p class="secondary_paragraph left">Profits</p>
<p class="secondary_paragraph left">Competitor fear and admiration</p> #}
</div>


<div class="column__container__offset">
  <div class="column__container__two">
    <div>  <img src="/static/img/check.svg" alt="" data-aos="fade-left" data-aos-once="true"></div>
    <p class="secondary_paragraph">We free you of the need to spend long hours figuring out what to say to convince each news media site to cover you and bestow its backlinks on you.</p>
</div>
<div class="column__container__two">
  <div><img src="/static/img/check.svg" alt="" data-aos="fade-left" data-aos-once="true"></div>
<p class="secondary_paragraph">We save you the aggravation of having to come up with fresh pitches to replace the ones that get shot down (which, if you don’t know what you’re doing, will likely be most or all of them). </p>
</div>


    <p class="secondary_paragraph">Our team of HARO pitch-writing experts and media-relations professionals know exactly what reporters, editors, bloggers, and social influencers want when it comes to contacting them and making a persuasive case for coverage.</p>
    <p class="secondary_paragraph"><strong>Painless. Cost-effective. Outstanding results.</strong></p>
</div>

<hr>

<div class="column__container">
  <img class="how-it-works__container__one-right email-desktop" src="/static/img/guarantee.svg" alt="" data-aos="fade-left" data-aos-once="true">
  {# <img class="how-it-works__container__one-right email-mobile" src="https://dailynclexchallenge.com/static/img/account/you-get-an-email.svg" alt="" data-aos="fade-left" data-aos-once="true"> #}
  <div class="column__container__one">
    <h2 class="margin-btm-0">HARO Hero—the best, guaranteed.</h2>
    <p class="small">Or your money back.</p>
    <p class="secondary_paragraph"><strong>EXPERIENCED.</strong>After testing thousands of pitch frameworks, we know what works and what doesn’t. That’s why our team of seasoned, professional writers is able to get lots of media people to say “yes” when we contact them for you.</p>
    <p class="secondary_paragraph"><strong>COLLABORATIVE.</strong>We listen to your ideas and weave them into the pitch-writing process. We also make sure you’re informed of every result, so at all times you know about coverage that’s coming, coverage that’s occurred, and backlinks you’re picking up.</p>
    <p class="secondary_paragraph"><strong>SUCCESS-DRIVEN.</strong>The DR50, 60, and 70+ backlinks we deliver put ear-to-ear grins on our clients. We serve businesses around the world and from a range of industries. SEO agencies too.</p>
  </div>
</div>

</div>


{# {{ layoutContent | safe }} #}

<hr>
